@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Request.IsAuthenticated) {
    <div class="add-gadget-button"><span>@Html.ActionLink("Home", "Index", "Home")</span></div>
}
else
{
    <div class="add-gadget-button"><span>@Html.ActionLink("Home", "Index", "Home")</span><span>@Html.ActionLink("Add Gadget", "AddGadget", "Home")</span></div>
}

<p>When Google sunset the iGoogle homepage, I became lost. I was unable to consume the content of the web in the manner that I had for so many years. None of the replacements that I tried suited my needs. I created Damage.IO to restore my workflow to its former glory.</p>

<p>
<strong>Why are there so few gadgets?</strong>
I’ve only been working on this project for a few weeks in my spare time. The gadget platform is modular so eventually I want to create a way for developers to submit gadgets to me. However, the platform needs quite a bit of work before that can happen.
</p>

<p>
<strong>Why does Damage.IO ask for so much access to my Google account?</strong>
This is an issue that is at the top of my list. Currently, I have to ask for all permissions that any of the gadgets need, even if you aren’t using those particular gadgets.
</p>

<p>
<strong>Something is broken!</strong>
Please send any issues to <a href="mailto:support@damage.io">support@damage.io</a> along with instructions on how to reproduce the problem. Please keep in mind that I am only one person developing this project in my spare time.
</p>

<p>
For news on upcoming features and bug fixes, follow Damage.IO on twitter.<a href="https://twitter.com/DamageIO" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @DamageIO</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>
