@model List<Damage.IGadget>


@for (int column = 1; column <= 3; column ++)
{
<div style="width:33%; float:left;">
    @foreach (var gadget in Model.Where(m => m.UserGadget.Column == column).OrderBy(m => m.UserGadget.Ordinal))
    {
        <div style="width:100%">@Html.Partial("_GadgetFramePartial", gadget)</div>
    }
</div>
}
