@model List<Damage.DataAccess.Models.UserGadget>

<div>
@for (int column = 1; column <= 3; column ++)
{
<span>
    @foreach (var gadget in Model.Where(m => m.Column == column).OrderBy(m => m.Ordinal))
    {
        <div>@gadget.Gadget.GadgetName</div>
    }
</span>
}
</div>