@model List<Damage.IGadget>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/Gadget.js"></script>
}

@if (!Request.IsAuthenticated) {
    <div class="sign-in-request">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "subLoginLink" })to customize your gadgets.</div>
}
else
{
    <div class="add-gadget-button"><span><a href="#" onclick="OpenAddGadgetDialog()">Add Gadget</a></span><span><a href="#" onclick="OpenSettingsDialog()">Settings</a></span></div>
}

@for (int column = 1; column <= 3; column ++)
{
<div class="GadgetColumn">
    
    @{
        int columnClosure = column;
    }
    @foreach (var gadget in Model.Where(m => m.UserGadget.DisplayColumn == columnClosure).OrderBy(m => m.UserGadget.DisplayOrdinal))
    {
        <div>@Html.Partial("_GadgetFramePartial", gadget)</div>
    }
</div>
}

<div id="settingsDialog" title="Settings" style="display:none;">
    <div>Choose Layout</div>
    <div class="layout-choice">
        <div><img src="~/Content/Images/Layouts/ThreeColumnLayout.png"/></div>
        <div><input type="radio" id="optThreeColumnLayout" checked="checked"/></div>
    </div>
    <div class="layout-choice">
        <div><img src="~/Content/Images/Layouts/ThreeColumnWideLayoutComingSoon.png"/></div>
        <div><input type="radio" id="optThreeColumnWideLayout" disabled="disabled"/></div>
    </div>
    <div class="layout-choice">
        <div><img src="~/Content/Images/Layouts/TwoColumnLayoutComingSoon.png"/></div>
        <div><input type="radio" id="optTwoColumnLayout" disabled="disabled"/></div>
    </div>
</div>

<div id="gadgetSettingsDialog" title="Settings" style="display:none;">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

<div id="addGadgetDialog" title="Add New Gadget" style="display:none;">
Gadget:<select></select>
</div>
