<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <bufferSize value="10" xdt:Transform="Replace" />
    <connectionString value="Data Source=tcp:s08.winhost.com;Initial Catalog=DB_66643_damage;User ID=DB_66643_damage_user;Password=KpslvR76cTQDey6RrsD2;Integrated Security=False;" xdt:Transform="Replace" />
  </appender>
</log4net>