.GadgetColumn {
    float: left;
    min-height: 200px;
    width: 33%;
}


@media only screen and (max-width: 650px) {
    .GadgetColumn {
        min-height: 200px;
        width: 100%;
    }
}