.GadgetColumn {
    float: left;
    min-height: 200px;
}

#displayColumn1 {
    width: 33%;
}

#displayColumn2 {
    width: 67%;
}



@media only screen and (max-width: 650px) {
    #displayColumn1 {
        width: 100%;
        min-height: 200px;
    }

    #displayColumn2 {
        width: 100%;
        min-height: 200px;
    }
}
