html {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: white;
    color: black;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: black;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}



header, hgroup,
nav, section {
    display: block;
}

header {
    color: white;
}

    header a {
        color: white;
    }

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    border-top: 1px solid #333;
}

.topMenu {
    background: #333;
    padding-top: 1px;
    padding-bottom: 1px;
}

#body {
    background-color: white;
    clear: both;
    padding-bottom: 35px;
}

.sign-in-request {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    color: #787878;
    margin-bottom: 5px;
}

.add-gadget-button {
    float: right;
    height: 0px;
    position: relative;
    top: -30px;
    left: -10px;
}

    .add-gadget-button a {
        color: white;
    }

    .add-gadget-button span {
        margin-right: 5px;
    }

.layout-choice {
    float: left;
}

    .layout-choice input {
        width: 100%;
    }

.main-content {
    padding: 10px;
}

.contact-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    font-size: .8em;
    height: 70px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    vertical-align: bottom;
}

.paypal {
    margin-top: 10px;
    margin-right: 3px;
}

    .paypal input {
        border: none;
        background: transparent;
        font-size: 1.2em;
        margin: 0px;
        padding: 0px;
        width: auto;
    }


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.8em;
    /*-webkit-text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
    padding: 30px 0px 30px 260px;
    background-image: url(Images/searchBackground.jpg);
    background-repeat: no-repeat;
    background-color: black;
}

    .site-title .subtitle {
        font-size: 0.4em;
        margin-left: 167px;
        position: relative;
        top: -7px;
    }

    .site-title input {
        font-size: small;
        margin-left: 10px;
        position: relative;
        top: -4px;
    }

    .site-title img {
        margin-left: 5px;
        position: relative;
        top: 5px;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        margin-right: 25px;
    }

        #login a.username {
            background: none;
            margin: 0;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

.registration-account-warning {
    clear: both;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: large;
    width: 75%;
    text-align: center;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #fff;
                text-decoration: none;
            }


/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

    input[type='radio'] {
        width: 25px;
    }

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
    font-size: .8em;
    font-weight: 400;
}

.systemError {
    color: #e80c4d;
    margin-left: 5px;
}

input.error,
select.error,
textarea.error {
    border: 1px solid red;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

/* Gadgets
    ----------------------------------------------------------*/
.GadgetHeader {
    background: #c8c8c8;
    border: 1px solid #999;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 2px;
    cursor: move;
}

.GadgetSettings {
    background-image: url(../Content/Images/Settings.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    float: right;
    position: relative;
    top: 3px;
    left: -7px;
}

    .GadgetSettings:hover {
        background-image: url(../Content/Images/Settings-Hover.png);
    }

.GadgetFrame {
    min-height: 30px;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 1px;
    background: white;
    overflow-x: auto;
}

.GadgetColumn {
    width: 33%;
    float: left;
    min-height: 200px;
}

.gadgetPreview {
    float: left;
    margin-bottom: 5px;
}

.gadgetPreviewTitle {
    padding-left: 140px;
    font-weight: 600;
}

.gadgetPreviewDescription {
    padding-left: 140px;
    min-height: 110px;
}

.gadgetAddButton {
    float: right;
    position: relative;
    top: -37px;
    height: 0px;
}

.columnPerserver {
    width: 100%;
    height: 1px;
}

.sortable-placeholder {
    border: 2px dashed #c8c8c8;
    margin-bottom: 5px;
}

.garbage {
    width: 400px;
    height: 70px;
    position: fixed;
    top: 75px;
    left: 0px;
    right: 0px;
    border: 2px dashed #c8c8c8;
    background-color: rgba(23, 23, 23, 0.80);
    background-image: url(Images/garbage.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.gmailContainer {
    height: 500px;
    overflow-y: auto;
    background-image: url(Images/AjaxLoader.gif);
    background-repeat: no-repeat;
    background-position: center;
}

    .gmailContainer a {
        text-decoration: none;
    }

.gmailToolbox {
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #333;
    display: none;
    z-index: 999;
}

.gmailToolboxItem {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}


.gmailItem {
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
}

.gmailCheckBox {
    float: left;
    margin-left: 8px;
    margin-right: 15px;
    margin-top: 20px;
}

.gmailFrom {
    font-weight: 600;
    font-size: 1.1em;
}

.gmailDate {
    float: right;
    font-size: 0.8em;
}

.gmailSubject {
}

.gmailPreview {
    font-size: 0.8em;
    padding-left: 40px;
}

.gmailDivider {
    height: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #c8c8c8;
}

.gmailHeader {
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid black;
    height: 30px;
    display: none;
}

.gmailread {
    color: #787878;
    font-weight: 400;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 650px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    .site-title {
        padding: 0px;
        text-align: right;
        margin-left: auto;
        margin-right: auto;
    }

        .site-title img {
            top: -10px;
            left: -5px;
        }

        .site-title .subtitle {
            display: none;
        }

        .site-title input {
            margin-left: 5px;
            margin-right: 5px;
            position: relative;
            top: -4px;
        }

    .add-gadget-button {
        left: 10px;
    }

        .add-gadget-button a {
            color: #c8c8c8;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    .GadgetColumn {
        width: 100%;
        min-height: 200px;
    }

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
