<div>Choose Layout</div>
<div class="layout-choice">
    <div><img src="~/Content/Images/Layouts/ThreeColumnLayout.png"/></div>
    <div> 
    @{
        if(ViewBag.LayoutId==0){
        <input type="radio" name="layout" value="0" id="optThreeColumnLayout" checked="checked"  />
        }
        else
        {
        <input type="radio" name="layout" value="0" id="optThreeColumnLayout" />
        }
    }Three Column
    </div>
</div>
<div class="layout-choice">
    <div><img src="~/Content/Images/Layouts/ThreeColumnWideLayout.png"/></div>
    <div>
    @{
        if(ViewBag.LayoutId==1){
        <input type="radio" name="layout" value="1" id="optThreeColumnWideLayout" checked="checked"  />
        }
        else
        {
        <input type="radio" name="layout" value="1" id="optThreeColumnWideLayout" />
        }
    }Center Focus
    </div>
</div>
<div class="layout-choice">
    <div><img src="~/Content/Images/Layouts/TwoColumnLayout.png"/></div>
    <div>
    @{
        if(ViewBag.LayoutId==2){
        <input type="radio" name="layout" value="2" id="optTwoColumnLayout" checked="checked"  />
        }
        else
        {
        <input type="radio" name="layout" value="2" id="optTwoColumnLayout" />
        }
    }Two Column
    </div>
</div>