<div>Choose Layout</div>
<div class="layout-choice">
    <div><img src="~/Content/Images/Layouts/ThreeColumnLayout.png"/></div>
    <div><input type="radio" id="optThreeColumnLayout" checked="checked"/></div>
</div>
<div class="layout-choice">
    <div><img src="~/Content/Images/Layouts/ThreeColumnWideLayoutComingSoon.png"/></div>
    <div><input type="radio" id="optThreeColumnWideLayout" disabled="disabled"/></div>
</div>
<div class="layout-choice">
    <div><img src="~/Content/Images/Layouts/TwoColumnLayoutComingSoon.png"/></div>
    <div><input type="radio" id="optTwoColumnLayout" disabled="disabled"/></div>
</div>