@model Damage.Gadget.IGadget

@{Model.Initialize();}
<div class="GadgetSettings" onclick="OpenGadgetSettingsDialog()"></div>
<div class="GadgetHeader">@Model.Title</div>
<div class="GadgetFrame">
@Html.Raw(Model.HTML)
</div>
