@model Damage.Gadget.IGadget
@{  try
    {
    Model.Initialize();
    }
    catch
    {
    }
}
@if(Request.IsAuthenticated)
{
<div class="GadgetSettings" onclick="OpenGadgetSettingsDialog(@(Model.UserGadget.UserGadgetId))"></div>
}
<div class="GadgetHeader">@Html.Raw(Model.Title)</div>
<div class="GadgetFrame">
@Html.Raw(Model.HTML)
</div>