@model Damage.IGadget
<div class="GadgetSettings" onclick="OpenGadgetSettingsDialog()"></div>
<div class="GadgetHeader">@Model.Title</div>
<div class="GadgetFrame">
@Html.Raw(Model.RenderHTML())
</div>
