@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="add-gadget-button"><span>@Html.ActionLink("Home", "Index", "Home")</span><span>@Html.ActionLink("Contact", "Contact", "Home")</span></div>

<h1 class="systemError">Error</h1>
<div class="systemError">An error occurred while processing your request.</div>
<div class="systemError">If this continues to happen, please send the details of this issue to<a href="mailto:support@damage.io">support@damage.io</a> </div>
<p class="systemError">Sorry for the inconvenience.</p>