@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="add-gadget-button"><span>@Html.ActionLink("Home", "Index", "Home")</span><span>@Html.ActionLink("Contact", "Contact", "Home")</span></div>


<h2>Resource Not Found</h2>
<div>Please check your url.</div>